 nav, h1, h2, h3, span {
    color:floralwhite;
    text-align-last: center;
    
    /*
    width: 500px;
    border: 1px solid black; 
    */    
}

img {
    border: 1px solid goldenrod;
}

html {
    background-color: cornflowerblue;
    font-size: 16px;
    font-family: 'Bona Nova', serif;
}

body {
    width: 600px;
    margin: 10px auto;
    background-color: indigo;
    padding: 20px 20px 20px 20px;
    border: 3px solid goldenrod;
}

button {
    background-color: floralwhite;
    border: 1px solid goldenrod;
    color: indigo;
    font-size: 16px;
    font-family: 'Bona Nova', serif;
    cursor: pointer;
}

button:active {
    background-color: indigo;
    color: gold;
    border-color: indigo;
}

p, li {
    color:floralwhite;
}

pre, a {
    color: gold;
    text-align-last: center;
}