 nav, h1, h2, h3, span {
    color:floralwhite;
    text-align-last: center;
}

#guestName {
    border: 10px ridge green;
    padding: 10px;
    font-size: large;
}

img {
    border: 5px ridge goldenrod;
    border-radius: 10px;
    width: 100px;
    height: 100px;
}

html {
    background-color: cornflowerblue;
    font-size: 16px;
    font-family: 'Bona Nova', serif;
}

body {
    width: 600px;
    margin: 10px auto;
    background-color: indigo;
    padding: 20px 20px 20px 20px;
    border: 5px ridge goldenrod;
    box-sizing: border-box;
}

h3 button {
    background-color: cornflowerblue;
    border: 1px solid goldenrod;
    color: floralwhite;
    font-size: 16px;
    font-family: 'Bona Nova', serif;
    cursor: pointer;
    font-weight: bold;
}

button:active {
    background-color: floralwhite;
    color: gold;
}

p, ul, li {
    color:floralwhite;
}

pre, a {
    color: gold;
    text-align-last: center;
}